body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

input {
  border: 1px rgb(0, 103, 160) solid !important;
}

label {
  color: rgb(0, 103, 160);
  font-weight: 600;
}

.secondaryText {
  font-weight: 400;
  color: rgb(90, 100, 108);
}

.bottomBorder {
  border-top: 1px rgb(199, 199, 199) solid;
}

.topBorder {
  border-top: 1px rgb(199, 199, 199) solid;
}

input[type=radio]{
  transform:scale(1.7);
}

input[type=checkbox]{
  transform:scale(1.7);
}

.btn-safepark {
  color: rgb(0, 103, 160);
  background-color: white;
  border-color: rgb(90, 100, 108);
  font-weight: 600;
}

.btn-safepark-alt {
  color: white;
  background-color: rgb(0, 103, 160);
  border-color: #6c757d;
  font-weight: 600;
  font-size: 1.4em;
  padding: 10px 70px;
}

.btn-safepark-alt {
  color: white;
  background-color: rgb(0, 103, 160);
  border-color: #6c757d;
  font-weight: 600;
}

.btn-safepark:not(:disabled):not(.disabled).active {
  color: white;
  background-color: rgb(0, 103, 160);
  border-color: #6c757d;
}

.sm5 {
  margin: 0 5px;
}

.sm10 {
  margin: 0 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.p10 {
  padding: 0 10px;
}

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 5%;
}

.mp5 {
  margin: 0 5px;
}

.btn:focus {
  outline: none !important; 
}

.questionSpacing {
  margin-bottom: 40px;
}

.labelMarginLeft {
  margin-left: 5px;
}